body {
  background: rgb(64, 68, 68);
}

.container {
  width: 800px;
  margin: 20px auto;
  background: rgb(94, 105, 105);
  border-radius: 10px;
  color: #bbbbbb;
  padding: 10px;
}

h1 {
  text-align: center;
  margin: 0;
}

.display {
  font-size: 40px;
  font-weight: bold;
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

.buttons {
  text-align: center;
  width: 400px;
  margin: 10px auto;
}

button {
  margin-left: 5px;
  width: 150px;
}